# Ignorer les environnements virtuels n'importe où dans le projet
**/venv/
**/venv38/
**/env/
**/.venv/

# Ignorer les caches Python récursivement
**/__pycache__/
**/*.pyc

# Ignorer les résultats d'expérience de MARLlib
**/exp_results/

# Ignorer les logs
*.log

# Ignorer les métadonnées de package Python
*.egg-info/